@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: Roboto;
}

h1,h2,h3,h4,h5,h6 {
    padding: 10px 0px 0px 0px;
    font-weight: Bold;
}

header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

.point {
    font-weight: 600;
    color: #007BFF;
}

.question {
    padding: 10px 0px 0px 0px;
    color: red;
    display: block;
}

.important-note {
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
}